.green {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: green;
}

.orange {
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: orange;
}

.blue {
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: skyblue;
}